block variables
doctype html
html(lang="en")
  head
    meta(base="/")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='description', content='Floema, luxurious jewelry for the modern')
    base(href="/")


    style
      include ../public/main.css

    title floema
  body
    include ./partials/preloader
    include ./partials/navigation.pug

    .content#content(data-template=template)
      block content
